<!DOCTYPE html>
{% extends 'base.html' %}
<html>
<title>home</title>
<body>
{% block content %}
<div class="col-md-6 offset-md-3">
    <h1>Fill the form: </h1>
  <br>
<form method="POST" action="{% url 'result' %}">
  {% csrf_token %}
  <div class="row mb-3">
    <label for="pregnancies" class="col-sm-2 col-form-label">Data</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="val1" name="val1">
    </div>
  </div>


  <button type="submit" class="btn btn-primary">Submit</button>
</form>
  <br>
Accuracy: {{accuracy}}
Result: {{result}}
</div>
{% endblock %}
</body>
</html>